<div class="jumbotron">
  <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2015/07/ultimate-veggie-burger.jpg" />
  <h1>Eat-Da-Burger!</h1>
  <form class="form-horizontal" action="/index" method="post">
    <div class="form-group">
      <label for="textArea" class="col-sm-2 control-label"></label>
      <div class="col-sm-8">
        <p>Enter the name of a Burger you want to eat and click Submit!</p>
        <input type="text" name='textArea' class="form-control" rows="1" id="textArea"></textarea><grammarly-btn><div data-reactroot="" class="_e725ae-textarea_btn _e725ae-anonymous _e725ae-not_focused"><div class="_e725ae-transform_wrap"><div title="Protected by Grammarly" class="_e725ae-status">&nbsp;</div></div></div></grammarly-btn>
      </div>
    </div>
  <input type="submit" value="Submit" id='submitBtn' class="btn btn-primary">
</form>

{{burgerId}}. {{burgerName}}

<script>
  $('#submitBtn').on('click', function(){
    
  });
</script>
